/*정보 상단 메뉴*/

.info-menu{
    /* border: 2px solid #fb8500; */
    margin-top: 50px;
}

.info-menu  ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.info-menu ul li{
    font-size: 20px;
    margin: 30px 40px;
}

.info-menu ul li:nth-child(1) a {
    color: #8aa088;
    padding-bottom: 5px ;
    border-bottom: 3px solid #8aa088;
}


.info-menu ul li a{
    text-decoration: none;
    color: #628642;
    font-weight: bold;
}

.info-menu ul li a:hover{
    color: #8aa088;
}

/*정보 사이드메뉴 끝*/

.ChangeInfo-area{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    /* border: 3px solid pink; */
}


/* 사진변경 */
.myImg-area{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    /* border: 1px solid red; */

}

.myImg-area img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


#info_img_select_btn{
    position: absolute;
    bottom: 40px;
    right: -10px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 40px;
    color: #73a14c;
    background-color: white;
    border: 4px solid #73a14c;
}

#imgSelectBtn:hover{
    background-color: #73a14c;
    color: white;
}
/* 사진변경 끝*/



/*정보변경*/
form[name="info-form"]{
    /* border: 2px solid red; */
    width: 30%;
    margin-left: 100px;
}

form[name="info-form"] label{
    color: #73a14c;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px 5px 0px;
}

form[name="info-form"] input{
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    padding: 0px 10px;
    margin-bottom: 5px;
}

form[name="info-form"] input:focus{
    outline: none;
    background-color: transparent;
}

form[name="info-form"] div{
    border-bottom: 1px solid #73a14c;
}

form[name="info-form"] div:focus-within{
    border-bottom: 2px solid #73a14c;
}

#birth{
    text-align: end;
}

#postInput{
    width: 70%;
}

#postBtn{
    width: 28%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #73a14c;
    background-color: white;
    color: #73a14c;
}

#postBtn:hover{
    background-color: #73a14c;
    color: white;

}

#saveBtn{
    width: 100%;
    margin-top: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #73a14c;
    background-color: white;
    color: #73a14c;
    font-size: 18px;
    font-weight: 600;
}

#saveBtn:hover{
    background-color: #73a14c;
    color: white;
}

@media screen and (max-width:48rem){
    .ChangeInfo-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .myImg-area{
        width: 200px;
    }

    form[name="info-form"]{
        width: 80%;
        margin-left: 0px;
    }

    #imgSelectBtn{
        width: 80px;
        height: 80px;
        bottom: 30px;
    }

    .info-menu ul{
        margin-bottom: 0px;
    }

    .info-menu ul li{
        font-size: 15px;
        margin-left: 10px;
        /* border: 1px solid red; */
    }

}


/* 모달창 */

.info_img_modal{ 
    position:absolute; 
    width:100%; 
    height:100%; 
    background: rgba(34, 34, 34, 0.5); 
    top:0; 
    left:0; 
    display:none;
  }
  
  .info_img_modal_content{
    width: 500px; 
    height:650px;
    background: #fff; 
    border-radius:10px;
    position:relative; 
    text-align:center;
    color: #73a14c;
    box-sizing:border-box; 
    padding:74px 0;
    line-height:23px; 
    cursor:pointer;
    z-index: 100;
    left: 50%;
    right: 50%;
    margin-top: 200px;
    margin-left: -250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

@media screen and (max-width:48rem){
    .info_img_modal_content{
        width: 400px;
        margin-left: -200px;
    }
}

#info_modal_close{
    background-color: transparent;
    border: none;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.info_modal_img_area{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 30px 0px;
    position: relative;
}

.info_modal_img_area img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.info_modal_img_change_area{
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    font-size: 40px;
    color: #73a14c;
    background-color: white;
    border: 4px solid #73a14c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 200px;
    right: -20px;
    cursor: pointer;
}


.info_modal_btn_area button{
    background-color: white;
    color: #73a14c;
    border: 2px solid #73a14c;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    margin: 10px 5px;
    font-size: 20px;
}

.info_modal_btn_area button:hover{
    background-color: #73a14c;
    color: white;
}


#input-image{
    display: none;
}






