*{
    font-family: 'Nanum Gothic', sans-serif;
}

main{
    background: linear-gradient(to bottom, white, #f9fcf5);
}

/* 사진, 검색 */
.index_top_area{
    width: 100%;
    height: 80%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

}

.index_main_img{
    width: 100%;
    position: relative;
    z-index: 1;
}


.index_search_area{
    width: 60%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index_top_area h1{
    color: #395b21;
    font-weight: 400;
    margin-bottom: 50px;
}

#index_search_btn{
    background: #e8db21;
    color: white;
    border:none;
    position:relative;
    width: 30%;
    height: 60px;
    font-size: 25px;
    font-weight: 400;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  

  #index_search_btn:hover{
    background:transparent;
    color:#e8db21;
  }

  #index_search_btn:before,
  #index_search_btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #e8db21;
    transition:400ms ease all;
  }

  #index_search_btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  #index_search_btn:hover:before,
  #index_search_btn:hover:after{
    width:100%;
    transition:800ms ease all;
  }




/* 레스토랑 */
.index-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.index_res_wrap{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index_res_item_wrap{
    width: 100%;
}


.index_res{
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    display: flex;
    overflow-x: scroll;
    width: 100%;
}

.index_res::-webkit-scrollbar {
    width: 0px; /* 스크롤바의 너비를 0으로 설정하여 숨김 */
  }

.index_res_label{
    padding: 20px 0px 0px 35px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.index_res_label span{
    font-size: 25px;
    font-weight: bold;
    color: #558b2f;
}

.index_res_label button{
    border: none;
    border-radius: 5px;
    background-color: #90b66e;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px 10px;
    font-size: 18px;
}


.index_res_item{
    display: flex;
    flex: 0 0 280px;
    flex-direction: column;
    padding: 15px;
    margin: 0px 5px;
}

.index_res_item:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s;

}

.index_res_item img{
    width: 250px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.index_res_category{
    font-size: 14px;
    color: gray;
}

.index_res_name{
    font-size: 20px;
    font-weight: bold;
    color: #263327;
}

.index_res_item button{
    margin-top: 20px;
    float: right;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #263327;
    padding: 10px;
}

.index_res_item button:hover{
    font-weight: bold;
}

.index_res_item button i{
    margin-right: 5px;
}


.index_report_res_area{
    display: flex;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.index_report_res_area h3{
    color: #558b2f;
    justify-content: start;
}

.index_report_res_wrap{
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
}

.index_report_res_wrap img{
    width: 40%;
    opacity: 0.8;
}

.index_report_res_wrap div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4c604d;
    font-weight: 5;
}

.index_report_res_wrap div button{
    width: 120px;
    border: none;
    border-radius: 5px;
    background-color: #e8db21;
    color: white;
    padding: 10px 10px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.3s ease-in-out;
}

.index_report_res_wrap div button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

    
.index_report_res_wrap div button i{
    margin-right: 10px;
}


@media screen and (max-width:48rem){

    .index_report_res_wrap{
        padding: 10px;
    }
    .index_report_res_wrap img{
        display: none;
    }

    .index_report_res_wrap h5{
        font-size: 15px;
    }

    .index_top_area h1{
        font-size: 20px;
        margin-bottom: 20px;
    }

    #index_search_btn{
        width: 40%;
        height: 40px;
        font-size: 15px;
    }
}


.index_top_btn_area{
    width: 100%;
    display: flex;
    justify-content: end;
    position: sticky;
    bottom: 20px;
    cursor: pointer;
}

.index_top_btn_area i{
    color: #90b66e;
    font-size: 40px;
}


/* 모달 */
.main_res_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.5);
    top: 0;
    left: 0;
    display: none;
    z-index: 20;
  }
  
  .main_res_modal_content {
    width: 500px;
    height: 650px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding: 74px 0;
    line-height: 23px;
    cursor: pointer;
    z-index: 100;
    left: 50%;
    right: 50%;
    margin-top: 80px;
    margin-left: -380px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main_res_modal_content h2{
    color: #73a14c
  }

  #main_modal_close {
    background-color: transparent;
    border: none;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
  }



/* 모달 */
.main_res_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.5);
    top: 0;
    left: 0;
    display: none;
    z-index: 20;
  }
  
  .main_res_modal_content {
    width: 700px;
    height: 800px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    position: fixed;
    text-align: center;
    padding: 50px 0;
    line-height: 23px;
    z-index: 100;
    left: 50%;
    right: 50%;
    margin-top: 30px;
    margin-left: -380px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main_res_modal_content h2{
      color: #73a14c;
      font-weight: bold;
  }
  
  .main_modal_close {
    background-color: transparent;
    border: none;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  
  
  .main_modal_img_area {
      width: 75%;
      height: 400px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .main_modal_img_area img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
  }
  
  .main_modal_info_area{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 75%;
    margin-top: 20px;
  }
  
  .main_modal_info_area span{
    margin: 5px 0px;
  }
  
  .main_modal_info_area span i {
    margin-right: 3px;
  }
  
  .main_modal_info_area > span:nth-child(1){
    color: gray;
  }
  
  .main_modal_info_area > span:nth-child(4){
    text-align: left;
  
  }
  
  
  .main_modal_info_area > span:nth-child(5){
    right: 70px;
    bottom: 50px;
    position: absolute;
  }
  
  .main_modal_info_area a {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #8fbf65;
    color: white;
    text-decoration: none;
  }
  
  .main_modal_info_area a:hover {
    color: white;
  }