
*{
  margin:0px;
}



header{


  height: 80px;
  background-color: black;
}




main{

height:2500px;
background-color: #f2f6f4;
margin: 0 auto;
font-family: 'Noto Sans KR', sans-serif;
width:1450px;


}



.wrapper_1 {
  background-color: #f2f6f4;
  display:flex;
  width:100%;
  
}
  


.container{
  background-color: #f2f6f4;
  width:40%;
  display:border;
  padding:20px;
  
  
  
  
  
 
 
}

.box{
  width:460px;
  height: 427px;
  background-color: #f2f6f4;
  margin:60px;
  
 
}
.fa-solid {
  background-color: transparent;
  border:none;
  width:30px;
}
.introduce {
  font-size: 34px;
  font-weight: bold;
  background-color: #f2f6f4;
  text-align: center;
  font-style:italic;
 
}
.searchArea {
  margin-top:30px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px lightgray;
  padding:25px;
}

.what {
  border:1px solid black;
  width:402px;
  height:40px;
  padding:3px;
  border-radius: 5px;
}
  

#inputWhat {
  border:none;
  width:348px;
  height:28px;
  background-color: transparent;
  padding:5px;
  text-align: center;
  
 
 
}
.where {
  border:1px solid black;
  width:402px;
  height:40px;
  padding:3px;
  border-radius: 5px;

}
#inputWhere {
  border:none;
  width:348px;
  height:28px;
  background-color: transparent;
  padding:5px;
  text-align: center;
 
}
.btn_area {
  width:404px;
  height:62px;
  background-color: darkgreen;
  margin-top: 30px;
  border-radius: 5px;
}
#searchBtn {
  width:405px;
  border-radius: 5px;
  background-color: transparent;
  border:none;
  box-shadow: 1px 1px 1px 1px lightgray;

  color:white;
  font-weight: bold;
  font-size:20px;
  
 
  width:402px;
  height:62px;
}

.pic{
  background-color: #f2f6f4;
  display:border;
  width:60%;
  
  
  
}

#food {
  width:750px;
  height:500px;
}


.famous_Res{
  background-color: #f2f6f4;
  
  padding:20px;
  justify-content:center;
  
 
}
.famous_all {
  display:flex;
  justify-content: center;
}


h2.h2 {
  font-size:18px;
  font-weight: bold;
  text-align: center;

  

}

.h2.h2 {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 20px;
  margin: 8px 0px;
}
.h2.h2::before,
.h2.h2::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}
h4.h4{
  
  font-size:15px;
  font-weight: bold;
  text-align: center;
  padding:5px;

}

.ownerAll {
  display:flex;
  justify-content: center;
  padding:30px;
 
}
.owner {
 padding:30px;

}
#informationBtn {
  justify-content: center;
}





 footer {
  height:386px;
  background-color: black;
}

img {
  border-radius: 5px;
}
