body {
  min-height:100vh;
}

h1.first span{
  position: relative;
  font-weight: 400;
}

h1.first span:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% + 2px); left: -10px;
  width: calc(100% + 20px); 
  height: 25%;
  transform: translateY(-50%);
  
  z-index: -1;
  background-color: #cdf1ca;
}

.main {
 
  width:100%;
}

.main >div:nth-child(1){
  margin-top:30px;
  height:10%;
  

}

h1 {
  text-align: center;
}
.main >div:nth-child(2){
  
  height:10%;
  display:flex;
  justify-content: center;
  align-items: center;

}
#memberEmail {
  width:400px;
  height:30px;
  border-radius: 3px;
  border:none;

}
.search_area{
  border-bottom: 1px solid #8aa088;
  margin-bottom: 30px;
  
}

.main >div:nth-child(3){
  

  display:flex;
  justify-content: center;
  align-items: center;

  
}



#memberInfo {
 border-top: 1px solid green;
 
 margin: 0 auto; 
 width: 90%;
 
  
}

#member-view-table {
  margin: 0 auto; /* 수평 가운데 정렬 */
  width: 100%; /* 테이블 너비 지정 */
}



.enroll-Content{
  display:flex;
  justify-content: center;
  align-items: center;
}

/* 버튼디자인 */
.button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 82, 0, 0.4) 0 1px 3px 0;
    box-sizing: border-box;
    color:  rgb(0, 82, 0);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 2rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-6:hover,
  .button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .button-6:hover {
    transform: translateY(-1px);
  }
  
  .button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }
  
    #tableWrapper {
  max-height: 700px; 
  overflow-y: auto;
}


 /* 테이블 */
  table {
    border-collapse: collapse;
    padding: 10px;
  }
#member-view-table{
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
    border: none;

    text-align: center;
    background-color:white;
  }


.member-view-table-tr{
    color: rgb(0, 82, 0);
    background-color: rgba(0, 82, 0, 0.041) ;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-top: 1px solid  rgba(0, 82, 0, 0.521);
    border-bottom: 1px solid   rgba(0, 82, 0, 0.521);
    /* padding: 5px;
    margin-top: 10px; */
}

.member-view-table-body{
    
    color: rgb(36, 34, 34);
    font-size: 15px;
    padding: 20px;
}


#member-view-table th {
  white-space: nowrap;
   padding: 0 20px;
}