
.signUp-Content{
    display: flex;
    justify-content: center;
}

h3{
    color: #fb8500;
    text-align: center;
    margin: 20px 0px;
}

form[name="signUp-form"]{
    /* background-color: antiquewhite; */
    width: 40%;
    margin: 30px 0px;
}

@media screen and (max-width:48rem){
    form[name="signUp-form"]{
      width: 80%;
     }
    }

form[name="signUp-form"] > label{
    display: block;
    margin-top: 30px;
    font-size : 18px;
    color: #fb8500;
}

form[name="signUp-form"] > div{
    border-bottom: 1px solid #ea9f4a;
    height: 40px;
}

form[name="signUp-form"] > div:focus-within{
    border-bottom: 2px solid #ea9f4a;
}

form[name="signUp-form"] > div input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0px 10px;
    color: #ea9f4a;
}

form[name="signUp-form"] > div input:focus{
    outline: none;
    background-color: transparent;
    color: #ea9f4a;
}


#memberEmail, #cNmuber, #postInput{
    width: 69%;
    padding: 0px 10px 0px 10px;
}



#sendEmailBtn, #cNumBtn, #postBtn{
    width: 30%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #ffb703;
    color: white;
}

@media screen and (max-width:48rem){
    #memberEmail, #cNmuber, #postInput{
        width: 68%;
    }
    #sendEmailBtn, #cNumBtn, #postBtn{
        font-size: 15px;
    }
    }

#postBtn{
    width: 30%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #ffb703;
    color: white;
}

#signBtn{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #ffb703;
    color: white;
    font-size: 20px;
    font-weight: bold;

    margin-top: 20px;
}

.memberAddrDiv{
    margin-bottom: 5px;
}

