/* header(로그인 전)--------------------------------- */
header{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 90px;
    background-color: #edeee9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    position: relative;
    z-index: 10;
}

header img{
    height: 95px;
}


#loinOpenBtn{
    background-color: #8aa088;
    height: 60px;
    width: 120px;

    border: none;
    border-radius: 5px;

    color: white;
    font-size: 20px;
}


#loinOpenBtn i {
    margin-right: 10px;
}


/* 사이드 메뉴 */
.side-menu{
    width: 0px;
    height: 100%;
    margin-top: 0px;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.4s;
}

#loginCloseBtn{
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 30px;
}

.loginWrap{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginLogoArea{
    background-color: #edeee9;
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.loginLogoArea img{
    height: 200px;
    margin-top: 30 0px 30px 0px;
}

.login-area{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

form[name="loginForm"]{
    /* border: 2px solid blue; */
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: start;
}

form[name="loginForm"] label {
    color: #4c604d;
    display: block;
    text-align: start;
    font-size: 18px;
    margin-top: 10px;
}

form[name="loginForm"] input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #8aa088;
    color: #263327;
}

form[name="loginForm"]input:focus{
    outline: none;
    border-bottom: 2px solid #8aa088;
    
}

#mail-Msg{
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

#loginBtn{
    width: 100%;
    margin-top: 30px;
    height: 50px;
    border: none;
    background-color: #8aa088;
    color: white;
    border-radius: 5px;
}

#kakaoLogin-Btn{
    width: 85%;
    margin: auto;
    margin-top: 10px;
    height: 50px;
    border: none;
    background-color: #F7E600;
    color: #3A1D1D;
    border-radius: 5px;
}

#kakaoLogin-Btn i{
    margin-right: 10px;
}

.loginWrap {
    color: gray;
}

.loginWrap > span a{
    text-decoration: none;
    color: gray;
    margin: 0px 10px;
}

.loginWrap > span a:hover{
    font-weight: bold;
}

.hr-sect {
    width: 90%;
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 12px;
	margin: 20px 0px;
}

.hr-sect::before,
.hr-sect::after {
  content: "  ";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 12px;
  line-height: 1px;
  margin: 0px 16px;
}


.sign-area{
    /* border: 2px solid red; */
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.sign-area button:nth-child(1){
    background-color: #bbc7aa;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    color: white;
}

.sign-area button:nth-child(2){
    background-color: #F7E600;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    margin-top: 10px;
    color: #3A1D1D;
}

.sign-area button i{
    margin-right: 10px;
}



/* ------------------------------------------------ */
/* header(로그인 후)--------------------------------- */
#nickName{
    margin-right: 5px;
    font-size: 20px;
}

.headerProfile{
    display: flex;
    align-items: center;
}

#profileBtn{
    background-color: transparent;
    height: 70px;
    border: none;
    border-radius: 50px;
}

#profileBtn img{
    height: 100%;
}

.profileArea{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profileArea img{
    height: 150px;
    margin-top: 30 0px 30px 0px;
}

.profileArea span{
    margin-top: 15px;
    font-size: 30px;
}

.profileWrap{
    /* border: 1px solid red; */
    height: 100vh;
    background-color: rgba(227, 224, 224, 0.2);
}

.infoList{
    width: 100%;
    list-style: none;
    padding-left: 0px;
}

.infoList li{
    width: 100%;
    text-align: start;
    padding: 30px 20px 30px 20px;
    height: 80px;
    font-size: 20px;
    color: rgb(101, 101, 101);
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    align-items: center;
}

.infoList li:hover{
    background-color: white;
    transition-duration: 0.3s;
}

.infoList li i{
    margin-right: 20px;
    font-size: 25px;
    color: #4c604d;

}

.infoList a{
    text-decoration: none;
}


.profileWrap > a div{
    background-color: #8ecae6;
    padding: 30px 20px 30px 20px;
    width: 100%;
    height: 80px;
    font-size: 20px;
    color: rgb(101, 101, 101);
    background-color: transparent;
    border-top: 1px solid rgb(200, 200, 200);
    position: absolute;
    bottom: 0px;
}

.profileWrap > a div:hover {
    background-color: white;
    transition-duration: 0.3s;
}

.profileWrap > a div i{
    margin-right: 20px;
    font-size: 25px;
    color: #4c604d;
}










/* ------------------------------------------------ */
/* main--------------------------------- */



main{
    background: linear-gradient(to bottom, #f7f8f2, #dee4d5, #f7f8f2);
    /* background-color: #f7f8f2; */
}

.index_search_area{
    /* background: linear-gradient(to top, #dee4d5, #f7f8f2);
    background-color: #dee4d5; */
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.index_search_area h3{
    color: #4c604d;
    margin-bottom: 30px;
}




form[name="index_search_form"]{
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
}

form[name="index_search_form"] span{
    z-index: 1;
    border: 1px solid #8aa088;
    border-radius: 5px;
    background-color: #edeee9;
    height: 50px;
    margin-bottom: 10px;
    color: #263327;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

form[name="index_search_form"] span:focus-within{
    border: 2px solid #8aa088;
}

form[name="index_search_form"] span input{
    border: none;
    width: 90%;
    height: 100%;
    padding: 0px 20px;
    background-color: transparent;
    position: relative;
}

form[name="index_search_form"] span input:focus{
    outline: none;
    background-color: transparent;
}

form[name="index_search_form"] span i{
    width: 10%;
    text-align: center;
    font-size: 20px;
    color: #4c604d;
}


form[name="index_search_form"] button{
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #8aa088;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


form[name="index_search_form"] img{
    position: absolute;
    width: 300px;
    opacity: 0.3;
    left: -200px;
    bottom: -40px;
    z-index: 0;

    /* 애니메이션 */
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-10deg);
    }
}

@media screen and (max-width:48rem){

    .index_search_area h3{
        font-size: 20px;
    }

    form[name="index_search_form"]{
        width: 90%;
    }
    
    .index_search_area img{
        display: none;
    }
}


.index-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.index_res_wrap{
    /* border: 2px solid red; */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index_res_item_wrap{
    width: 100%;
}



.index_res{
    /* border: 1px solid blue; */
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    display: flex;
    overflow-x: scroll;
    width: 100%;
}

.index_res::-webkit-scrollbar {
    width: 0px; /* 스크롤바의 너비를 0으로 설정하여 숨김 */
  }

.index_res_label{
    padding: 20px 0px 0px 35px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.index_res_label span{
    font-size: 25px;
    font-weight: bold;
    color: #8aa088;
}

.index_res_label button{
    border: none;
    border-radius: 5px;
    background-color: #bbc7aa;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px 10px;
    font-size: 18px;
}


.index_res_item{
    display: flex;
    flex: 0 0 280px;
    flex-direction: column;
    padding: 15px;
    margin: 0px 5px;
}

.index_res_item:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s;

}

.index_res_item img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.index_res_category{
    font-size: 14px;
    color: gray;
}

.index_res_name{
    font-size: 20px;
    font-weight: bold;
    color: #4c604d;
}

.index_res_item button{
    margin-top: 20px;
    float: right;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #4c604d;
    padding: 10px;
}

.index_res_item button:hover{
    font-weight: bold;
}

.index_res_item button i{
    margin-right: 5px;
}


.index_report_res_area{
    display: flex;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.index_report_res_area h3{
    color: #4c604d;
    justify-content: start;
}

.index_report_res_wrap{
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.index_report_res_wrap img{
    width: 40%;
    opacity: 0.8;
}

.index_report_res_wrap div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index_report_res_wrap div button{
    width: 120px;
    border: none;
    border-radius: 5px;
    background-color: #bbc7aa;
    color: white;
    padding: 5px;
    align-self: self-end;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.index_report_res_wrap div button i{
    margin-right: 10px;
}




@media screen and (max-width:48rem){
    .index_report_res_wrap img{
        display: none;
    }

    .index_report_res_wrap h5{
        font-size: 15px;
    }
}


.index_top_btn_area{
    width: 100%;
    display: flex;
    justify-content: end;
    position: sticky;
    bottom: 20px;
    cursor: pointer;
}

.index_top_btn_area i{
    color: #8aa088;
    font-size: 40px;
}















/* ------------------------------------------------ */
/*footer design----------------------------------- */
footer{
    background-color: #edeee9;
    height: 300px;
    width: 100%;
    bottom: 0px;
    color: black;
}


footer section{
    padding: 30px 0px;
}

.footer-firstLine{
    display: flex;
    justify-content: space-between;
}

.info-area{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.info-area span{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #4c604d;
}

.info-area a{
    margin-bottom: 10px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: #4c604d;
    font-weight: bold;
}

.sns-area{
    display: inline;
    display: flex;
    justify-content: center;
}

.sns-style{
    width: 60px;
    height: 54px;
    background-color: #8aa088;
    border-radius: 50%; 
    margin-right: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon{
    font-size: 24px;
  }

@media screen and (max-width:48rem){
    .sns-area{
        display: none;
    }

    .info-area span{
        font-size: 18px;
    }

    .info-area a{
        font-size: 13px;
    }
    
    .footer-secondLine{
        font-size: 13px;
    }
    }



  .footer-secondLine{
    padding: 0px 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  .footer-secondLine span{
    margin: 0px 5pxs;
  }