/* header(로그인 전)--------------------------------- */
header{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    position: relative;
    z-index: 10;
}

header img{
    height: 95px;
}


#loinOpenBtn{
    background-color: #558b2f;
    height: 60px;
    width: 120px;

    border: none;
    border-radius: 5px;

    color: white;
    font-size: 20px;
}


#loinOpenBtn i {
    margin-right: 10px;
}


/* 사이드 메뉴 */
.side-menu{
    width: 0px;
    height: 100%;
    margin-top: 0px;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.4s;
}

#loginCloseBtn{
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 30px;
}

.loginWrap{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginLogoArea{
    background-color: #f0f5eb;
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.loginLogoArea img{
    height: 200px;
    margin-top: 30 0px 30px 0px;
}

.login-area{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

form[name="loginForm"]{
    /* border: 2px solid blue; */
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: start;
}

form[name="loginForm"] label {
    color: #4c604d;
    display: block;
    text-align: start;
    font-size: 18px;
    margin-top: 10px;
}

form[name="loginForm"] input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #8aa088;
    color: #263327;
}

form[name="loginForm"]input:focus{
    outline: none;
    border-bottom: 2px solid #8aa088;
    
}

#mail-Msg{
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

#loginBtn{
    width: 100%;
    margin-top: 30px;
    height: 50px;
    border: none;
    background-color: #73a14c;
    color: white;
    border-radius: 5px;
}

#kakaoLogin-Btn{
    width: 85%;
    margin: auto;
    margin-top: 10px;
    height: 50px;
    border: none;
    background-color: #F7E600;
    color: #3A1D1D;
    border-radius: 5px;
}

#kakaoLogin-Btn i{
    margin-right: 10px;
}

.loginWrap {
    color: gray;
}

.loginWrap > span a{
    text-decoration: none;
    color: gray;
    margin: 0px 10px;
}

.loginWrap > span a:hover{
    font-weight: bold;
}

.hr-sect {
    width: 90%;
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 12px;
	margin: 20px 0px;
}

.hr-sect::before,
.hr-sect::after {
  content: "  ";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 12px;
  line-height: 1px;
  margin: 0px 16px;
}


.sign-area{
    /* border: 2px solid red; */
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.sign-area button:nth-child(1){
    background-color: #90b66e;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    color: white;
}

.sign-area button:nth-child(2){
    background-color: #F7E600;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    margin-top: 10px;
    color: #3A1D1D;
}

.sign-area button i{
    margin-right: 10px;
}



/* ------------------------------------------------ */
/* header(로그인 후)--------------------------------- */
#header_nickName{
    margin-right: 5px;
    font-size: 20px;
}

.headerProfile{
    display: flex;
    align-items: center;
}

#profileBtn{
    background-color: transparent;
    height: 70px;
    border: none;
    border-radius: 50px;
}

#profileBtn img{
    height: 100%;
}

.profileArea{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profileArea img{
    height: 180px;
    margin-top: 30 0px 30px 0px;
}

.profileArea span{
    margin-top: 15px;
    font-size: 30px;
}

.profileWrap{
    /* border: 1px solid red; */
    height: 100vh;
    background-color: white;
}

.infoList{
    width: 100%;
    list-style: none;
    padding-left: 0px;
}

.infoList li{
    width: 100%;
    text-align: center;
    padding: 30px 20px 30px 20px;
    height: 80px;
    font-size: 20px;
    color: rgb(101, 101, 101);
    border-bottom: 1px solid rgb(215, 215, 215);
    display: flex;
    align-items: center;
}

.infoList li:hover{
    background-color: rgba(219, 219, 219, 0.2);
    transition-duration: 0.3s;
}

.infoList li i{
    margin-right: 20px;
    font-size: 25px;
    color: #4c604d;

}

.infoList a{
    text-decoration: none;
}


.profileWrap > a div{
    background-color: #8ecae6;
    padding: 30px 20px 30px 20px;
    width: 100%;
    height: 80px;
    font-size: 20px;
    color: rgb(101, 101, 101);
    background-color: transparent;
    border-top: 1px solid rgb(200, 200, 200);
    position: absolute;
    bottom: 0px;
}

.profileWrap > a div:hover {
    background-color:  rgba(219, 219, 219, 0.2);
    transition-duration: 0.3s;
}

.profileWrap > a div i{
    margin-right: 20px;
    font-size: 25px;
    color: #4c604d;
}
























/* ------------------------------------------------ */
/*footer design----------------------------------- */
footer{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 300px;
    width: 100%;
    bottom: 0px;
    color: black;
}


footer section{
    padding: 30px 0px;
}

.footer-firstLine{
    display: flex;
    justify-content: space-between;
}

.info-area{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.info-area span{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #69840a;
}

.info-area a{
    margin-bottom: 10px;
}

footer a{
    text-decoration: none;
    color: #3b4909;
}

footer a:hover{
    color: #eede02;
}

.sns-area{
    display: inline;
    display: flex;
    justify-content: center;
}

.sns-style{
    width: 60px;
    height: 54px;
    background-color: #eaeee5;
    border-radius: 50%; 
    margin-right: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .icon{
    font-size: 24px;
    color: #69840a;
  }

  .icon:hover{
    color: #eede02;
  }


@media screen and (max-width:48rem){
    .sns-area{
        display: none;
    }

    .info-area span{
        font-size: 18px;
    }

    .info-area a{
        font-size: 13px;
    }
    
    .footer-secondLine{
        font-size: 13px;
    }
    }



  .footer-secondLine{
    padding: 0px 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    color: #3b4909;
  }

  .footer-secondLine span{
    margin: 0px 5pxs;
  }