.container{
    /* border: 1px solid red; */
}


/* header design--------------------------------- */

header{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
}

header img{
    height: 95px;
}


#loinOpenBtn{
    background-color: #ffb703;
    height: 60px;
    width: 120px;

    border: none;
    border-radius: 5px;

    color: white;
    font-size: 20px;
}


#loinOpenBtn i {
    margin-right: 10px;
}


/* 사이드 메뉴 */
.side-menu{
    width: 0px;
    height: 100%;
    margin-top: 0px;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.4s;


}

#loginCloseBtn{
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 30px;
}

.loginWrap{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginLogoArea{
    background-color: antiquewhite;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.loginLogoArea img{
    height: 200px;
    margin-top: 30 0px 30px 0px;
}

.login-area{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

form[name="loginForm"]{
    /* border: 2px solid blue; */
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: start;
}

form[name="loginForm"] label {
    color: #fb8500;
    display: block;
    text-align: start;
    font-size: 18px;
    margin-top: 10px;
}

form[name="loginForm"] input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ea9f4a;
    color: #ea9f4a;
}

form[name="loginForm"] input:focus{
    outline: none;
    border-bottom: 2px solid #ea9f4a;
    
}

#mail-Msg{
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

#loginBtn{
    width: 100%;
    margin-top: 30px;
    height: 50px;
    border: none;
    background-color: #ffb703;
    color: white;
    border-radius: 5px;
}

#kakaoLogin-Btn{
    width: 85%;
    margin: auto;
    margin-top: 10px;
    height: 50px;
    border: none;
    background-color: #F7E600;
    color: #3A1D1D;
    border-radius: 5px;
}

#kakaoLogin-Btn i{
    margin-right: 10px;
}

.loginWrap {
    color: gray;
}

.loginWrap > span a{
    text-decoration: none;
    color: gray;
    margin: 0px 10px;
}

.loginWrap > span a:hover{
    font-weight: bold;
}

.hr-sect {
    width: 90%;
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 12px;
	margin: 20px 0px;
}

.hr-sect::before,
.hr-sect::after {
  content: "  ";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 12px;
  line-height: 1px;
  margin: 0px 16px;
}



.sign-area{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.sign-area button:nth-child(1){
    background-color: #8ecae6;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    color: white;
}

.sign-area button:nth-child(2){
    background-color: #F7E600;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    margin-top: 10px;
    color: #3A1D1D;
}

.sign-area button i{
    margin-right: 10px;
}
/* 사이드 메뉴 end */


/* header design--------------------------------- */














/*footer design----------------------------------- */
footer{
    background-color: #fff8f1;
    height: 350px;
    width: 100%;
    bottom: 0px;
    color: black;
    display: flex;
    align-items: center;
}

footer section{
    padding: 30px 0px;
}

.footer-firstLine{
    display: flex;
    justify-content: space-between;
}

.info-area{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.info-area span{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ea9f4a;
}

.info-area a{
    margin-bottom: 10px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: #ea9f4a;
    font-weight: bold;
}

.sns-area{
    display: inline;
    display: flex;
    justify-content: center;
}

.sns-style{
    width: 60px;
    height: 54px;
    background-color: #ffb703;
    border-radius: 50%; 
    margin-right: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon{
    font-size: 24px;
  }

@media screen and (max-width:48rem){
    .sns-area{
        display: none;
    }

    .info-area span{
        font-size: 18px;
    }

    .info-area a{
        font-size: 13px;
    }
    
    .footer-secondLine{
        font-size: 13px;
    }
    }

  .footer-secondLine{
    padding: 0px 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  .footer-secondLine span{
    margin: 0px 5pxs;
  }